body {background-color:black; color:powderblue;}

p.test {font-family:verdana; font-size:100%; margin-left:100px;}

#a01:link {color:red; background-color:green; text-decoration: none; }

#a01:hover {color:yellow; text-decoration:underline;}
